body{
    background-color: #e4defe;
}
p {
    padding: 0;
    margin: 0;
}
.card {
    width: 760px;
    height: 20px;
    background-color: white;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
}
input[type="text" ], input{
    pad: 10px 400px ;
}
label{
    font-size: 12px;
    line-height: 18px;
    color: ;
/* .btn{
    width: 172px;
    width: 56px;
    border: 1px solid black;
    border-radius: 8px;
    
} */